.keylayout-container {
    height: 360px; 
    width: 100%; 
    margin-top: 20px;
    display: flex;
    background-color: black;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: 0 0 10px yellowgreen; 
    color: white;
}

.numberContainer {
  display: flex; 
  width: 270px; 
  height: 100%; 
  flex-wrap: wrap;  
  flex-direction: row;  
  justify-content: space-around;
}

.numberContainer .key {
    height: 87px;
    width: 87px;
    cursor: pointer;
    color: chartreuse;
    background-color: black;
    text-align: center;
    line-height: 87px;
    font-size: 40px;
    transition: 0.2s;
}

.numberContainer .key:hover {
    box-shadow: 0 0 10px yellowgreen;
}

.reset {
    height: 100%;
    width: 90px;
    background-color: rgb(33, 235, 33);
    cursor: pointer;
    writing-mode: vertical-lr;
    text-orientation: upright;
    text-align: center;
    box-shadow: 0 0 10px rgb(33, 235, 33);
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 10px;
}

.reset p {
    font-size: 40px;
    cursor: pointer;
}

.operator-container {
    height: 100%;
    width: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.operator-container .key {
    height: 25%;
    width: 90%;
    display: flex;
    justify-content: center;
    font-size: 35px;
    align-items: center;
    border-top: 1px solid tomato;
    border-bottom: 4px solid tomato;
    border-radius: 5px;
    cursor: pointer;
}
